<div class="container">
    <%= render @videos %>
    <div class="d-flex justify-content-center">
        <%= will_paginate @videos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
</div>