<%= form_with url: videos_path, method: :get do |f| %>
    <div class="row">
        <div class="col-xl-11 col-sm-10">
            <%= f.text_field :query, class: 'form-control', placeholder: 'Search', value: params[:query] %>
        </div>
        <div class="col-xl-1 col-sm-2">
            <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>