// @import "variables";
@import "bootswatch/cerulean/variables";
@import "bootstrap";
@import "bootswatch/cerulean/bootswatch";

// header
.navbar-brand-image{
    max-width: 250px;
}

.footer{
    background-color: #80808021;
    min-height: 100px;
}