// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// video detail page
.page{
    text-align: center;
    
    .channel{
        background-color: #80808021;
        display: flex;
        flex-flow: row;
        margin-bottom: 25px;

        img{
            height: 80px;
        }

        .channel-logo{
            margin-left: 25px;
        }
        
        h1{
            margin-left: 20px;
        }
    }

    .video-name{
        color: #6eb9fb;
    }

    .transcription-container{
        max-width: 550px;
        text-align: left;
    }
}
